<p>
    <button class="btn btn-info m-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">More Filter</button>
</p>
<div class="collapse" id="collapseExample">
    <div class="container">
        <div class="card card-body m-1">
            <%= search_form_for @search, url: search_path do |f| %>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <%= f.label :range, "Price Range" %>
                        <div id="slider-range"></div>
                    </div>
                    <div class="col-3 mb-3">
                        <%= f.label :price, "Min Price:" %>
                        <%= f.text_field :price_gteq, id: "amountMin" %>
                    </div>
                    <div class="col-3 mb-3">
                        <%= f.label :price, "Max Price:" %>
                        <%= f.text_field :price_lteq, id: "amountMax" %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <%= text_field_tag :start_date, params[:start_date], class:"m-1" %>
                    </div>
                    <div class="col-6">
                        <%= text_field_tag :end_date, params[:end_date], class:"m-1" %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <%= check_box_tag "q[home_type_eq_any][]", "Apartment", class:"mt-2" %>
                        <%= f.label :home_type, "apartment" %>
                    </div>
                    <div class="col-4">
                        <%= check_box_tag "q[home_type_eq_any][]", "House", class:"mt-2" %>
                        <%= f.label :home_type, "house" %>
                    </div>
                    <div class="col-4">
                        <%= check_box_tag "q[home_type_eq_any][]", "Bed & Breakfast", class:"mt-2" %>
                        <%= f.label :home_type, "bed_breakfast" %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <%= check_box_tag "q[room_type_eq_any][]", "Entire", class:"mt-2" %>
                        <%= f.label :room_type, "Entire" %>
                    </div>
                    <div class="col-4">
                        <%= check_box_tag "q[room_type_eq_any][]", "Private", class:"mt-2" %>
                        <%= label_tag :room_type, "Private" %>
                    </div>
                    <div class="col-4">
                        <%= check_box_tag "q[room_type_eq_any][]", "Shared", class:"mt-2" %>
                        <%= f.label :room_type, "Shared" %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <%= f.label :guest_count, "Guests" %><br>
                        <%= f.select :guest_count_gteq, {'1': '1', '2': '2', '3': '3', '4+': '4+'}, {include_blank: 'Select...'}, {class: 'form-control'} %>
                    </div>
                    <div class="col-4">
                        <%= f.label :bedrooms, "Bedrooms" %><br>
                        <%= f.select :bedroom_count_gteq, {'1': '1', '2': '2', '3': '3', '4+': '4+'}, {include_blank: 'Select...'}, {class: 'form-control'} %>
                    </div>
                    <div class="col-4">
                        <%= f.label :bathrooms, "Bathrooms" %><br>
                        <%= f.select :bathroom_count_gteq, {'1': '1', '2': '2', '3': '3', '4+': '4+'}, {include_blank: 'Select...'}, {class: 'form-control'} %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <%= check_box_tag "q[has_tv_eq]", class:"mt-2" %>
                        <%= f.label :has_tv, "Television" %>
                    </div>
                    <div class="col-4">
                        <%= check_box_tag "q[has_kitchen_eq]", class:"mt-2" %>
                        <%= f.label :has_kitchen, "Kitchen" %>
                    </div>
                    <div class="col-4">
                        <%= check_box_tag "q[has_internet_eq]", class:"mt-2" %>
                        <%= f.label :has_internet, "Internet" %>
                    </div>
                    <div class="col-4">
                        <%= check_box_tag "q[has_heating_eq]", class:"mt-2" %>
                        <%= f.label :has_heating, "Heating" %>
                    </div>
                    <div class="col-4">
                        <%= check_box_tag "q[has_air_conditioning_eq]", class:"mt-2" %>
                        <%= f.label :has_air_conditioning, "Air conditioning" %>
                    </div>
                </div>
                <hr>
                <%= submit_tag "Search", class:"btn btn-info" %>
            <% end %>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="mt-4">Result</h3>
    <hr>
    <div class="row justify-centent-around">
        <% @rooms_array.each do |room| %>
            <div class="col-4">
                <div class="card mt-2 mb-1">
                    <%= image_tag room.photos.first.image, class:"nav-item mt-2 ml-2", size:"333x220" %>
                    <h5><%= link_to room.listing_name, room_path(room), class:"nav-item ml-2 mt-1 mb-1" %></h5>
                    <div class="ml-2 mb-2 text-center">
                        $<%= room.price %> - <%= room.home_type %> - <%= room.guest_count %> Guest(s)
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function() {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 1000,
            values: [100, 1000],
            slide: function( event, ui ) {
                $( "#amountMin" ).val( ui.values[ 0 ] );
                $( "#amountMax" ).val( ui.values[ 1 ] );
            }
        });
        $( "#amountMin" ).val( $( "#slider-range" ).slider( "values", 0 ) );
        $( "#amountMax" ).val( $( "#slider-range" ).slider( "values" , 1) );
    });

    $('#start_date').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0,
        maxDate: '3m',
        onSelect: function(selected) {
            $('#end_date').datepicker("option", "minDate", selected);
            $('#end_date').attr("disabled", false);
        }
    });

    $('#end_date').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0,
        maxDate: '3m',
        onSelect: function(selected) {
            $('#start_date').datepicker("option", "minDate", selected);
            $('#start_date').attr("disabled", false);
        }
    });
</script>