<div class="container">
    <div class="row">
    <%= render "layouts/sidebar_manage_room" %>
        <div class="container mt-5 col-8">
            <div class="card">
                <div class="card-header"><h5>Your Reservations</h5></div>
                <div class="container">
                    <div class="row justify-content-around">
                        <% @reservations.each do |reservation| %>
                            <div class="card col-4 m-2">
                                <div class="reservation-photo">
                                    <%= image_tag reservation.room.photos.first.image ,size:"210x150", class:"mt-2" %><br>
                                    <%= link_to reservation.room.listing_name, "#", class:"m-1" %>
                                </div>
                                <div class="reservation-term text-center">
                                    <%= reservation.start_date %>~<%= reservation.end_date %>
                                    <div class="m-2">
                                        <%= image_tag gravatar_for(reservation.user), alt: reservation.user.name, class:"nav-item", size:"35x35" %>
                                        <%= link_to reservation.user.name, "#", class:"m-1" %>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <%= link_to "Review Guest", "#",class:"btn btn-info mt-3 mb-3 w-100" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>