<div class="container">
    <div class="row">
        <%= render "layouts/sidebar" %>
        <div class="container mt-5 col-8">
            <div class="card">
                <div class="card-header"><h5>Amenities</h5></div>
                <div class="container">
                    <%= form_for @room do |f| %>
                        <div class="row">
                            <div class="col-4">
                                <%= f.check_box :has_tv, class:"mt-2" %>
                                <%= f.label :television, class:"mt-2" %>
                            </div>
                            <div class="col-4">
                                <%= f.check_box :has_kitchen, class:"mt-2" %>
                                <%= f.label :kitchen, class:"mt-2" %>
                            </div>
                            <div class="col-4">
                                <%= f.check_box :has_internet, class:"mt-2" %>
                                <%= f.label :internet, class:"mt-2" %>
                            </div>
                            <div class="col-4">
                                <%= f.check_box :has_heating, class:"mt-2" %>
                                <%= f.label :heating, class:"mt-2" %>
                            </div>
                            <div class="col-4">
                                <%= f.check_box :has_air_conditioning, class:"mt-2" %>
                                <%= f.label :air_conditioning, class:"mt-2" %>
                            </div>
                            <div class="col-12">
                                <%= f.submit "Save", class:"btn btn-info mt-2 mb-2" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>