<div class="container">
    <div class="row">
        <div class="container mt-5 col-3">
            <div class="card" style="width: 15rem">
                <div class="col mt-3">
                    <%=link_to "Room", room_room_path(current_user), class:"color-info" %>
                </div>
                <div class="col mt-3">
                    <%=link_to "Price", price_room_path(current_user), class:"color-info" %>
                </div>
                <div class="col mt-3">
                    <%=link_to "Description", description_room_path(current_user), class:"color-info" %>
                </div>
                <div class="col mt-3">
                    <%=link_to "Photos", photos_room_path(current_user), class:"color-info" %>
                </div>
                <div class="col mt-3">
                    <%=link_to "Amenities", amenities_room_path(current_user), class:"color-info" %>
                </div>
                <div class="col mt-3">
                    <%=link_to "Location", location_room_path(current_user), class:"color-info" %>
                </div>
                <hr class="m-2">
                <%= link_to "Publish", "#", class:"btn btn-info m-2"%>
            </div>
        </div>

        <div class="container mt-5 col-8">
            <div class="card">
                <div class="card-header"><h5>Price</h5></div>
                <div class="container">
                    <%= form_for @room do |f| %>
                        <div class="row">
                            <div class="col-12">
                                <%= f.label :price, class:"mt-2" %><br>
                                <%= f.text_field :price, class:"form-control mb-4 w-100" %>
                            </div>
                            <div class="col-12">
                                <%= f.submit "Save", class:"btn btn-info mb-4" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>